/* ---------- Fonts ---------- */
/* Montserrat */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* Nunito Sans */
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap");

/* ---------- Font Sizes ---------- */
:root {
  --xx-small: 12px;
  --x-small: 16px;
  --small: 18px;
  --medium: 26px;
  --large: 36px;
  --x-large: 48px;
  --xx-large: 56px;
}

/* ---------- Colors ---------- */
:root {
  --light-pink: #f7e5e1;
  --pink: #f9b7b6;
  --medium-pink: #ff8785;
  --shade-pink: #ff5a57;
  --rosey: rgb(255, 134, 180);

  --whitesmoke: whitesmoke;
  --light-gray: #e9e9e7;
  --gray: #9b9b9b;
  --medium-gray: #545454;
  --dark-gray: #333;
}

/* ---------- Headings ---------- */
h1 {
  margin: 0;
  font-size: var(--xx-large);
  font-family: Nunito Sans, Montserrat, Arial;
  font-weight: bold;
}

h2 {
  margin: 0;
  font-size: var(--x-large);
}

h3 {
  margin: 0;
  font-size: var(--large);
}

h4 {
  margin: 0;
  font-size: var(--medium);
  color: var(--medium-gray);
}

h5 {
  margin: 0;
  font-size: var(--small);
}

h6 {
  margin: 0;
  font-size: var(--x-small);
}

h8 {
  margin: 0;
  font-size: 18px;
}

/* ---------- Reuable Elements ---------- */
:root {
  --border-radius: 10px;
  --box-shadow: 0 5px 10px 1px rgba(0, 0, 0, 0.2);
}

* {
  box-sizing: border-box;
}

html {
  min-height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: var(--light-pink);
  font-family: Nunito Sans, Montserrat, Arial;
  box-sizing: border-box;
  width: 100vw;
  margin: 0;
}

section {
  max-width: 1400px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.section-heading {
  font-size: var(--large);
  text-transform: uppercase;
  letter-spacing: 1.5px;
  color: var(--medium-gray);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-heading::before {
  position: absolute;
  content: "";
  width: 100px;
  height: 3px;
  background-color: var(--medium-pink);
  bottom: -6px;
}

p {
  margin: 0;
  font-size: var(--medium);
}

button {
  color: white;
  background-color: var(--medium-pink);
  padding: 18px 40px;
  border-radius: var(--border-radius);
  border: none;
  font-size: var(--small);
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1.5px;
  transition: all 0.2s ease-in;
}

/* ---------- Navigation Bar ---------- */
nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.95);
  border-bottom: 2px solid var(--light-gray);
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px 10px 30px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.nav-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-img {
  width: 80px;
  padding: 2px;
}

.nav-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: 22px;
}

.selected-nav-section {
  color: var(--medium-pink) !important;
}

.selected-nav-section::before {
  position: absolute;
  content: "";
  width: 26px;
  height: 2px;
  background-color: var(--medium-pink);
  bottom: -5px;
}

.nav-buttons a {
  color: var(--gray);
  font-size: var(--small);
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3s;
}

.nav-buttons a:hover {
  color: var(--medium-pink);
}

.nav-buttons a:hover::before {
  position: absolute;
  content: "";
  width: 26px;
  height: 2px;
  background-color: var(--medium-pink);
  bottom: -5px;
  animation-name: nav-hover-line-transition;
  animation-duration: 0.3s;
}

@keyframes nav-hover-line-transition {
  from {
    width: 0px;
  }
  to {
    width: 26px;
  }
}

.nav-buttons a:active {
  color: var(--medium-pink);
}

.social-media-icons-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.social-media-link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: white;
  background-color: var(--medium-pink);
  padding: 8px;
  border-radius: 50%;
  transition: all 0.2s ease-in;
}

.social-media-link:hover {
  background-color: var(--shade-pink);
  cursor: pointer;
  transform: scale(1.2);
}

.collapse-icon {
  font-size: 20px;
  background-color: none;
  color: var(--gray);
  margin-left: 30px;
  display: none;
}

.cross-icon {
  display: none;
}

@media screen and (max-width: 768px) {
  .is-mobile-hide {
    display: none;
  }

  .is-mobile-show {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.95);
    z-index: 2;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 50px;
  }

  .is-mobile-show a {
    font-size: 26px;
  }

  .is-mobile-show .cross-icon {
    font-size: 18px;
  }

  .collapse-icon {
    display: block;
    transition: all 0.2s;
  }
  .collapse-icon:hover {
    color: var(--medium-pink);
  }

  .cross-icon {
    display: block;
    position: absolute;
    top: 30px;
    right: 30px;
  }

  .nav-container {
    max-width: 100%;
  }
}

/* ---------- Home ---------- */
.home-section {
  max-width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)),
    url("/public/images/backgrounds/desk-setup-background-3.avif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.overlay {
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgb(255, 255, 255, 0.6);
  z-index: 5;
}

.home-container {
  max-width: 1400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 10px;
}

.home-container h1 {
  color: white;
  letter-spacing: 4px;
  text-align: center;
}

.home-container h4 {
  color: var(--whitesmoke);
  font-size: var(--medium);
  font-weight: 300;
  margin-bottom: 10px;
  padding: 0px 20px 20px 20px;
}

.about-me-button:hover {
  cursor: pointer;
  background-color: var(--shade-pink);
  transform: scale(1.1);
}

@media screen and (max-width: 700px) {
  .home-text h1 {
    font-size: 44px;
  }
  .home-text h4 {
    display: flex;
    flex-wrap: wrap;
    font-size: 22px;
  }
  .about-me-button {
    font-size: 14px;
    padding: 14px 30px;
  }
}

@media screen and (max-width: 575px) {
  .home-text h4 {
    padding-top: 10px;
    padding-left: 60px;
    padding-right: 60px;
    line-height: 32px;
  }
  .about-me-button {
    font-size: 14px;
    padding: 10px 30px;
  }
}

@media screen and (max-width: 400px) {
  .home-text h1 {
    font-size: 40px;
  }
  .home-text h4 {
    font-size: 20px;
    padding-top: 20px;
  }
  .about-me-button {
    font-size: 12px;
  }
}

/* ---------- About Me ---------- */

.about-me-container {
  background-color: white;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 300px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
}

.about-me-content {
  display: flex;
  flex-direction: row;
  gap: 50px;
  padding: 80px;
}

.about-me-left {
  width: 40%;
  height: 740px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  background-color: var(--light-pink);
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}

.about-me-left-text {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.about-me-left-text h4 {
  color: var(--medium-gray);
  padding-bottom: 10px;
  border-bottom: 3px solid var(--medium-pink);
}

.about-me-left-text h8 {
  font-size: 22px;
  line-height: 34px;
  color: var(--medium-gray);
}

.about-me-photo {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}

.about-me-right {
  width: 60%;
  border-radius: 10px;
}

/* ACCORDION */
.accordion {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.accordion-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}

.accordion-title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: var(--medium);
  color: var(--dark-gray);
  background-color: var(--light-pink);
  padding: 10px;
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  cursor: pointer;
  position: relative;
  border-bottom: 3px solid #f1f1f1;
  transition: all 0.4s;
}

.accordion-title:hover {
  background-color: var(--medium-pink);
  color: white;
}

.accordion-title.active {
  color: white;
  background-color: var(--medium-pink);
  font-weight: bold;
}

.accordion-summary {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 30px;
  padding-bottom: 60px;
  background-color: white;
  border-end-start-radius: 10px;
  border-end-end-radius: 10px;
  position: relative;
}

.accordion-summary p {
  font-size: var(--small);
}

.accordion-summary.hidden {
  display: none;
}

.as-a-developer-list {
  padding-inline-start: 20px;
  margin: 0px;
}

.as-a-developer-list li {
  line-height: 32px;
  font-size: 18px;
}

.open-button {
  background-color: var(--medium-pink);
  color: white;
  letter-spacing: normal;
  padding: 10px 20px;
  font-size: 14px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
  transition: all 0.3s;
}

.accordion-summary button:hover {
  background-color: var(--shade-pink);
}

.accordion-content {
  display: hidden;
  padding: 30px;
  padding-bottom: 60px;
  background-color: white;
  position: relative;
}

.accordion-content p {
  font-weight: 300;
  font-size: var(--small);
  line-height: 36px;
}

.accordion-content.hidden {
  display: none;
}

.close-button {
  background-color: var(--medium-pink);
  color: white;
  letter-spacing: normal;
  padding: 10px 20px;
  font-size: 14px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
  transition: all 0.3s;
}

.close-button:hover {
  background-color: var(--shade-pink);
}

.chevron {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
}

.chevron.rotate {
  transform: translateY(-50%) rotate(180deg);
}

@media screen and (max-width: 1270px) {
  .about-me-content {
    padding-left: 50px;
    padding-right: 50px;
  }
  .about-me-left {
    width: 50%;
    justify-content: center;
  }
}

@media screen and (max-width: 1230px) {
  .about-me-left {
    height: 700px;
  }
}

@media screen and (max-width: 1100px) {
  .about-me-container {
    height: auto;
  }
  .about-me-content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 80px;
  }
  .about-me-left {
    width: 100%;
    flex-direction: row;
    height: auto;
    padding: 30px;
  }
  .about-me-right {
    width: 100%;
  }
}

@media screen and (max-width: 950px) {
  .about-me-left {
    padding: 20px;
  }
  .about-me-left-text {
    justify-content: center;
    gap: 10px;
  }
  .about-me-left-text h8 {
    font-size: 18px;
  }
  .about-me-content {
    gap: 30px;
  }
  @media screen and (max-width: 845px) {
    .about-me-content {
      padding: 40px;
    }
    .about-me-left {
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
      gap: 20px;
    }
    .about-me-left-text h4 {
      margin: 0px 40px;
      text-align: center;
      font-size: 24px;
    }
    .about-me-left-text h8 {
      text-align: center;
      padding: 10px 20px;
      font-size: 20px;
    }
    .about-me-left-img {
      width: 38%;
    }
  }
  @media screen and (max-width: 700px) {
    .about-me-container {
      padding: 40px;
    }
    .about-me-content {
      padding-bottom: 0px;
    }
    .about-me-left-img {
      width: 50%;
    }
    .about-me-left-text h8 {
      font-size: 18px;
      padding: 0px 40px;
    }
    .accordion-title {
      font-size: 22px;
    }
    .accordion-summary p {
      font-size: 16px;
    }
    .open-button {
      font-size: 12px;
    }
    .accordion-content p {
      font-size: 16px;
    }
    .close-button {
      font-size: 12px;
    }
    .accordion-summary li {
      font-size: 16px;
    }
  }
  @media screen and (max-width: 600px) {
    .about-me-content {
      padding: 40px 0px;
    }
  }
  @media screen and (max-width: 500px) {
    .about-me-left-text h4 {
      font-size: 22px;
      margin: 0px 20px;
    }
    .about-me-left-text h8 {
      font-size: 18px;
      padding: 0px 10px;
    }
  }
}

/* Skills */
.skills-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding-top: 200px;
  width: 100%;
}

.skills-content {
  background-color: white;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 100px;
}

.skills-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  cursor: pointer;
}

.skills-icon {
  width: 75px;
  height: 75px;
  transition: all 0.2s ease-in;
}

.react-icon {
  width: 65px;
  height: 75px;
}

.icon-wrapper:hover img {
  transform: scale(1.1);
}

.icon-caption {
  position: relative;
  bottom: 0px;
  text-align: center;
  visibility: hidden;
  transition: all 0.2s;
}

.icon-wrapper:hover .icon-caption {
  visibility: visible;
}

.icon-caption {
  color: var(--dark-gray);
  font-size: var(--x-small);
  font-weight: bold;
  border-radius: 10px;
  padding: 6px;
}

@media screen and (max-width: 875px) {
  .skills-icons {
    display: flex;
    flex-wrap: wrap;
    padding: 40px;
  }
}

@media screen and (max-width: 770px) {
  .skills-icons {
    padding: 0px 170px;
    justify-content: space-evenly;
    gap: 0px;
  }
}

@media screen and (max-width: 690px) {
  .skills-icons {
    padding: 0px 140px;
  }
}

@media screen and (max-width: 600px) {
  .skills-icons {
    padding: 0px 100px;
  }
}

@media screen and (max-width: 515px) {
  .skills-icons {
    padding: 0px 60px;
  }
  .skills-icon {
    width: 70px;
    height: 70px;
  }
}

/* ---------- Portfolio ---------- */
.portfolio-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
}

.portfolio-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
  width: 100%;
}

.project-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.project-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 500px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 1px 2px 12px #f9f9f9;
  position: relative;
  transition: all 0.3s;
}

.project-card:hover {
  background-color: var(--light-gray);
}

.project-card:hover button {
  visibility: visible;
}

.project-card:hover .project-card-popup {
  animation-name: delayed-visibility-for-button;
  animation-duration: 2s;
}

@keyframes delayed-visibility-for-button {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.project-card-popup {
  position: absolute;
  bottom: 12px;
}

.project-card-popup button {
  padding: 10px;
  margin: 0px 5px;
  border-radius: 4px;
  font-size: var(--xx-small);
  letter-spacing: 1px;
  font-weight: 600;
  cursor: pointer;
  visibility: hidden;
  bottom: 10px;
}

.project-card-popup button:hover {
  background-color: var(--shade-pink);
}

@media screen and (max-width: 1200px) {
  .project-cards {
    flex-wrap: wrap;
  }
  .project-card {
    width: 48%;
    height: 300px;
  }
}

@media screen and (max-width: 700px) {
  .portfolio-container {
    padding: 100px 80px;
    height: 100%;
  }
  .project-cards {
    flex-direction: column;
  }
  .project-card {
    width: 100%;
    height: 200px;
  }
}
s @media screen and (max-width: 600px) {
  .portfolio-container {
    padding: 80px 50px;
  }
}
/* ---------- Resume ---------- */

/* ---------- Contact ---------- */
.contact-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
}

.contact-content {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9f9f9;
  margin-top: 60px;
  padding: 60px;
  border-radius: 10px;
  box-shadow: 1px 2px 12px #f9f9f9;
}

.contact-img-container {
  height: 100%;
}

.contact-img {
  width: 350px;
  height: 100%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 100%;
  background-color: var(--light-pink);
  font-family: Nunito Sans, Montserrat, Arial;
  font-size: 14px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.contact-elements {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
  padding: 20px;
  width: 90%;
  height: 100%;
}

.contact-form label {
  color: var(--medium-gray);
  text-transform: uppercase;
  font-size: var(--x-small);
  letter-spacing: 1.5px;
  font-weight: 700;
}

.contact-form input {
  font-size: 18px;
  padding: 10px;
  border: none;
  border-radius: 4px;
}

.contact-form textarea {
  padding: 8px;
  border: none;
  border-radius: 4px;
  font-size: 18px;
  font-family: Nunito Sans, Montserrat, Arial;
}

.name-elements {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5%;
  width: 100%;
}

#first-name {
  width: 93%;
}

#last-name {
  width: 93%;
}

.contact-element-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 3px;
  width: 100%;
}

.contact-element-wrapper input {
  width: 97%;
}

#message {
  width: 97%;
}

#contact-submit-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  padding: 20px 40px;
  cursor: pointer;
}

#contact-submit-btn:hover {
  background-color: var(--shade-pink);
  transform: scale(1.01);
}

#send-icon {
  font-size: 16px;
}

@media screen and (max-width: 1120px) {
  .contact-content {
    flex-direction: column;
  }
  .contact-container {
    padding: 0px;
    padding-top: 400px;
  }
  .contact-img-container {
    height: 300px;
    width: 100%;
    background-image: url("../public/images/send-message-2.avif");
    background-repeat: no-repeat;
    background-position-y: -480px;
    background-size: cover;
  }
  .contact-img {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  .contact-container {
    padding-top: 300px;
  }
  .contact-content {
    padding: 40px;
    width: 100%;
  }
  .contact-img-container {
    background-position-y: -580px;
  }
  .contact-form {
    padding: 0px 50px;
    width: 100%;
  }
  .contact-elements {
    padding: 0px;
  }
  #contact-submit-btn {
    padding: 12px 30px;
  }
}

@media screen and (max-width: 700px) {
  .contact-img-container {
    background-position-y: -500px;
  }
  .name-elements {
    flex-direction: column;
    gap: 16px;
  }
  .contact-form {
    padding: 0px 40px;
  }
  #first-name {
    width: 100%;
  }
  #last-name {
    width: 100%;
  }
  .contact-form input {
    width: 100%;
  }
  #message {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .contact-container {
    padding-top: 200px;
  }
  .contact-img-container {
    background-position-y: -500px;
  }
  .contact-content {
    padding: 0px;
  }
  .contact-form {
    padding: 0px 30px;
  }
}

@media screen and (max-width: 500px) {
  .contact-img-container {
    background-position-y: -390px;
  }
}

@media screen and (max-width: 450px) {
  .contact-img-container {
    background-position-y: -310px;
  }
}
